---
// projects.astro

import projectItems from './Projects/projectItems';
---

<section
  id="projects"
  class="animate-fade-in-up py-16 px-4
         bg-gradient-to-b from-white via-slate-50 to-white
         dark:bg-gradient-to-b dark:from-gray-900 dark:via-gray-800 dark:to-gray-900
         text-gray-900 dark:text-white
         transition-colors duration-300"
>
<div class="text-center mb-16">
  <h2 class="text-4xl font-bold text-gray-900 dark:text-white" data-translate="projects.title">Projects</h2>
  <div class="w-20 h-1 bg-gradient-to-r from-blue-600 to-purple-600 mx-auto mt-2 rounded-full"></div>
</div>

<div class="grid md:grid-cols-3 gap-6">
  {projectItems.map((project) => (
    <div class={`rounded-lg overflow-hidden shadow-lg bg-gradient-to-br ${project.gradientFrom} ${project.gradientTo} dark:from-gray-800 dark:to-gray-700 transition-transform hover:scale-105 transition-transform duration-300  h-full flex flex-col`}>
      <div class="flex justify-center items-center h-40">
        <project.icon class={`w-12 h-12 ${project.iconColor}`} />
      </div>
      <div class="dark:bg-gray-800 bg-white p-6 flex flex-col flex-1">
        <h3 class="text-xl font-bold mb-2 " data-translate={project.titleKey}>{project.titleKey}</h3>
        <p class="text-sm mb-4" data-translate={project.descriptionKey}>{project.descriptionKey}</p>

        <div class="flex-1"></div>

        <div class="flex flex-wrap gap-2 mb-4 text-sm ">
          {project.techStack.map((tech) => (
            <span class="px-2 py-1 rounded bg-[#f4f4f5] dark:bg-gray-700">{tech}</span>
          ))}
        </div>

        <div class="flex items-center justify-between mt-auto">
          <a
            href={project.liveDemoUrl}
            target="_blank"
            rel="noopener noreferrer"
            class="flex items-center gap-2 bg-gradient-to-r from-blue-600 to-purple-600 text-white px-4 py-2 rounded text-sm hover:shadow-md transition w-full mr-4 justify-center hover:scale-105 transition-transform duration-300"
          >
            <i data-lucide="external-link" class="w-4 h-4"></i> <span data-translate="projects.demo">Live Demo</span>
          </a>

          <a
            href={project.githubUrl}
            target="_blank"
            rel="noopener noreferrer"
            class="bg-white dark:bg-black border border-gray-300 dark:border-none px-3 py-2 rounded hover:scale-125 transition-transform duration-300"
          >
            <i data-lucide="github" class="w-4 h-4 dark:text-white text-black"></i>
          </a>
        </div>
      </div>
    </div>
  ))}
</div>

</section>
